#head {
    margin: auto 0;
    background-color: black;
    text-align: center;
    opacity: .8;
    width: 100%;
    position: fixed;
    top: 0%;
}

#name {
    text-align: center;
    color: white;
}

#toMenu {
    text-decoration: none;
    color: white;
    padding: 2%;
    font-size: 150%
}

#toLocation {
    text-decoration: none;
    color: white;
    padding: 2%;
    font-size: 150%;
}

#toReserve {
    text-decoration: none;
    color: white;
    padding: 2%;
    font-size: 150%;
}

#img {
    width: 50%;
    height: 70%;
    top: 99px;
    position: absolute;
    background-repeat: no-repeat;
    left:0%;
    padding: 0;
    z-index: -1;
}

#img2 {
    width: 50%;
    height: 70%;
    top: 99px;
    position: absolute;
    background-repeat: no-repeat;
    right: 0%;
    padding: 0;
    z-index: -1;
}

/* Reservation Page */
#reserveHead{
    text-align: center;
}

.reserveInput{
    text-align: center;
}

.reserveDiv{
    text-align: center;
}

#buttonDiv{
    text-align: center;
}